p.titlething {
  font-size: 100vw;
  font-family: "Courier New", Courier, Serif;
  position: fixed;
  left: 10vw;
  bottom: 0vh;
}
p.intro {
  font-family: "Courier New", Courier, Serif;
  font-size: 1.2vw;
  position: fixed;
  right: 5vw;
  bottom: 65vh;
}
