p.titlething {
  font-size: 700%;
  font-family: "Courier New", Courier, Serif;
  position: fixed;
  left: 30px;
  bottom: 20px;
}
p.intro {
  font-family: "Courier New", Courier, Serif;
  font-size: 100%;
  position: fixed;
  right: 100px;
  bottom: 500px;
}
