titlething {
  font-size: 10vw;
  font-family: "Times New Roman", Times, Serif;
}

p.titlething {
  position: fixed;
  left: 10px;
  bottom: 10px;
}
p.intro {
  font-family: "Courier New", Courier, Serif;
  font-size: 5vw;
  position: fixed;
  right: 100px;
  bottom: 500px;
}
