p.titlething {
  font-size: 1200%;
  font-family: "Times New Roman", Times, Serif;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
p.intro {
  font-family: "Courier New", Courier, Serif;
  font-size: 100%;
  position: fixed;
  right: 100px;
  bottom: 500px;
}
